* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
  position: relative;
}

.container {
  min-height: 100svh;
  background-color: hsl(47, 88%, 63%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  background-color: hsl(0, 0%, 100%);
  width: 38.4rem;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;

  border-radius: 1.2rem;
  border: 0.1rem solid hsl(0, 0%, 7%);
  box-shadow: 1.2rem 1.2rem 0 hsl(0, 0%, 7%);
}

.blog-img {
  width: 100%;
  border-radius: 1.2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: start;
}

.tag {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 800;
  padding: 0.4rem 1.2rem;
  background-color: hsl(47, 88%, 63%);
  border-radius: 0.5rem;
}

.title:link,
.title:visited {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 800;
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

.title:hover,
.title:active {
  color: hsl(47, 88%, 63%);
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 4px solid hsl(47, 88%, 63%);
  outline-offset: 4px;
}

.description {
  color: hsl(0, 0%, 42%);
}

.author-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.author-img {
  width: 3.2rem;
}

.author {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 800;
}

.attribution {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
